<header class="pb-md-4 pb-0" [class.active]="stick && sticky">
  @if (data?.header?.page_top_bar_enable) {
  <app-topbar class="nxt-topbar" [data]="data"></app-topbar>
  }
  <div class="top-nav top-header sticky-header">
    <div class="container-fluid-lg">
      <div class="row">
        <div class="col-12">
          <div class="navbar-top">
            <div class="d-xl-none d-inline">
              <!-- 
              <app-navbar-menu-button
                (activeMenu)="toggle($event)"
                [show]="active"
              ></app-navbar-menu-button>
               -->
              @if (data?.header?.today_deals?.length) {
              <div>
                <app-deal [data]="data" />
              </div>
              }
            </div>
            <!-- <app-logo
              [textClass]="'txt-theme f-w-600'"
              [data]="data"
              [logo]="logo"
            ></app-logo> -->
            <div class="middle-box">
              <!-- <div class="location-box">
                <app-categories [style]="'input_dropdown'"></app-categories>
              </div> -->
              <!-- <div class="search-box">
                <app-search></app-search>
              </div> -->
              <app-logo
                [textClass]="'txt-theme f-w-600'"
                [data]="data"
                [logo]="logo"
              ></app-logo>
            </div>
            <div class="rightside-box">
              <ul class="right-side-menu">
                @if (data?.header?.today_deals?.length) {
                <li class="right-side">
                  <app-deal [data]="data" />
                </li>
                }
                <li class="right-side">
                  <app-search-box></app-search-box>
                </li>
                <!-- @if (data?.header?.support_number) {
                <li class="right-side">
                  <app-call [data]="data"></app-call>
                </li>
                } -->
                <li class="right-side">
                  <app-header-wishlist></app-header-wishlist>
                </li>
                <li class="right-side">
                  <div class="onhover-dropdown header-badge">
                    <app-header-cart></app-header-cart>
                  </div>
                </li>
                <li class="right-side onhover-dropdown">
                  <app-my-account></app-my-account>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
