<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>
<section class="log-in-section otp-section section-b-space">
  <div class="container-fluid-lg w-100">
    <div class="row align-items-center">
      <div class="col-xxl-6 col-xl-5 col-lg-6 d-lg-block d-none ms-auto">
        <div class="image-contain">
          <img src="assets/images/inner-page/otp.png" class="img-fluid" alt="image">
        </div>
      </div>
      <div class="col-xxl-4 col-xl-5 col-lg-6 col-sm-8 mx-auto">
        <app-alert></app-alert>
        <div class="log-in-box">
          <div class="log-in-title">
            <h3 class="text-title">{{ 'please_enter_the_one_time_password_to_verify_your_account' | translate }}</h3>
            <h5 class="text-content">{{ 'a_code_has_been_sent_to' | translate }} <span>{{ phoneNumber }}</span></h5>
          </div>
          <form (ngSubmit)="submit()">
            <div class="otp-input-container">
              <div class="otp-input-wrapper">
                <input 
                  *ngFor="let digit of otpDigits; let i = index"
                  type="text" 
                  class="otp-digit-input"
                  maxlength="1"
                  [(ngModel)]="otpDigits[i]"
                  [ngModelOptions]="{standalone: true}"
                  (input)="onDigitInput($event, i)"
                  (keydown)="onKeyDown($event, i)"
                  (paste)="onPaste($event)"
                  #digitInput
                />
              </div>
            </div>
            <app-button [class]="'btn btn-animation w-100 mt-3'" [id]="'forgot_btn'">{{ 'validate' | translate }}</app-button>
          </form>
          <div class="mt-3 text-center">
            <p class="mb-2">{{ 'didnt_receive_code' | translate }}?</p>
            <button 
              type="button" 
              class="btn btn-link" 
              (click)="resendOTP()"
            >
              {{ 'resend_otp' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
