/* You can add global styles to this file, and also import other style files */

@import "../public/assets/scss/app.scss";
// @import "../public/assets/pwa/scss/style.scss";

body {
  padding-top: var(--safe-top);
  padding-bottom: var(--safe-bottom);
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  overscroll-behavior-x: none;
  max-width: 100%;
  position: relative;
}

* {
  box-sizing: border-box;
}
